*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", Monaco, sans-serif;
}

.mid-box {
  text-align: center;
}

.mid-box>*, .mid-box:after {
  display: inline-block;
  vertical-align: middle;
}

.mid-box:after {
  content: '';
  width: 0;
  height: 100%;
}

.screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: #2e528f;
}