.fixed-pos-elem-wrapper {
  position: absolute;
}

.next {
  position: absolute;
  z-index: 90;
  top: 1em;
  left: calc(50% + 30px);
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 2em;
  opacity: 0.3;
  user-select: none;
}

.next:hover {
  cursor: pointer;
  opacity: 1;
}

.before {
  position: absolute;
  z-index: 90;
  top: 1em;
  right: calc(50% + 30px);
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 2em;
  opacity: 0.3;
  user-select: none;
}

.before:hover {
  cursor: pointer;
  opacity: 1;
}

.list {
  position: absolute;
  z-index: 90;
  top: 1em;
  right: calc(50% - 15px);
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  opacity: 0.3;
  text-align: center;
  user-select: none;
}

.list>span {
  display: block;
  width: 20px;
  height: 8px;
  margin: 0 auto;
  border-top: solid 2px #fff;
}

.list>span:first-child {
  margin-top: 6px;
}

.list:hover {
  cursor: pointer;
  opacity: 1;
}